body {
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted red;
  cursor: pointer;
}

.tooltip-text {
  width: 180px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;

  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -95px;
  visibility: hidden;

  opacity: 0;
  transition: opacity 4s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
