body{
    background-image: url("https://images.pexels.com/photos/96627/pexels-photo-96627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    
    /* will repeat the image multiple times on the page on x-axis */
    /* background-repeat: repeat-x;  */

    /* will repeat the image multiple times on the page on y-axis */
    /* background-repeat: repeat-y; */

    /* background position will be shifted to right */
    /* background-position: right; */

    /* will not repeat the image multiple times on the page */
    background-repeat: no-repeat;
    /* will cover the whole screen */
    background-size: cover;
}
