.container div {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  text-align: center;
  font-size: 7rem;
}

.item-1 {
  background-color: red;
  /* flex: 1; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex-basis: 500px; */

  /* align-self: center; */
  /* align-self: flex-start; */
  /* align-self: flex-end; */
  /* align-self: baseline; */
  /* align-self: stretch; */
}

.item-2 {
  background-color: green;
  /* order: 1; */
}

.item-3 {
  background-color: yellow;
}

.item-4 {
  background-color: blue;
}

.item-5 {
  background-color: cyan;
}

.item-6 {
  background-color: green;
}

.item-7 {
  background-color: yellow;
}

.item-8 {
  background-color: blue;
}

.item-9 {
  background-color: cyan;
}

.item-10 {
  background-color: cyan;
}

.container {
  /* width: 700px; */
  height: 700px;

  display: flex;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */

  /* for 'flex-direction: row' -> with 'justify-content' we align with main axis or x-axis,
    for 'flex-direction: column' -> with 'justify-content' we align with cross axis or y-axis
   */
  /* justify-content: flex-start; */
  /* justify-content: end; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: baseline; */
  justify-content: center;

  /* for 'flex-direction: row' -> with 'align-items' we align with cross axis or y-axis,
    for 'flex-direction: column' -> with 'align-items' we align with main axis or x-axis
   */
  /* align-items: flex-end; */
  /* align-items: baseline; */
  /* align-items: flex-start; */

  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap;
  /* align-items: flex-start; */
  align-items: center;
  gap: 2em;
}
