.gallery {
  float: left;
  width: 400px;
  margin: 5px;
  border: solid 1px rgb(154, 243, 76);
}

.gallery:hover {
  border: solid 2px rgb(124, 16, 148);
}

.gallery img {
  width: 100%;
  height: auto;
}

.description {
  padding: 10px;
  text-align: center;
}
